body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6fa; /* Colore pastello */
}

nav {
    text-align: center;
    margin: 20px 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

#container {
    background-color: #000;
    color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    border-radius: 15px; /* Smussa gli angoli del riquadro nero */
}

#content {
    text-align: justify;
}

.hidden {
    display: none;
}

#info-box {
    position: fixed;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 20px;
    right: 20px;
}

#quiz-container {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px; /* Smussa gli angoli del riquadro quiz */
    max-width: 400px;
    text-align: center;
}

#quiz-word {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#quiz-options {
    list-style-type: none;
    padding: 0;
}

#quiz-options li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#quiz-options li:hover {
    background-color: #bbb;
}